force-app/main/default/flows/Booking_Checker.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Check_For_booking</name>
        <label>Check For booking</label>
        <locationX>270</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Check_For_Every_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Booked</name>
            <conditionLogic>1 AND( (2 AND 3) OR (4 AND 5) OR (6 AND 7))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Speaker__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Check_For_Every_Record.Speaker__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Event__r.Starting_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Check_For_Every_Record.Event__r.Starting_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Event__r.End_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Check_For_Every_Record.Event__r.Starting_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Event__r.Starting_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Check_For_Every_Record.Event__r.End_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Event__r.End_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Check_For_Every_Record.Event__r.End_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Event__r.Starting_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Check_For_Every_Record.Event__r.Starting_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Event__r.End_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Check_For_Every_Record.Event__r.End_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Duplicate_Validate_Caller</targetReference>
            </connector>
            <label>Booked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_Get_Records</name>
        <label>Null Check Get Records</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Speaker_Conflicting_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_For_Every_Record</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Booking Checker {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Booking Checker</label>
    <loops>
        <name>Check_For_Every_Record</name>
        <label>Check For Every Record</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <collectionReference>Speaker_Conflicting_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_For_booking</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Speaker_Conflicting_Records</name>
        <label>Speaker Conflicting Records</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check_Get_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Speaker__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Speaker__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event_Speaker__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Duplicate_Validate_Caller</name>
        <label>Duplicate Validate Caller</label>
        <locationX>138</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>Check_For_Every_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Is_Dupplicate__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Speaker_Conflicting_Records</targetReference>
        </connector>
        <object>Event_Speaker__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
